body {
    width: 100%;
    margin: 0;
}

.header, .footer {
    width: 100%;
    background: linear-gradient(45deg, pink, rgb(195, 141, 141));
    border: none;
    height: 100px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-evenly;
    width: 80%;
    margin: 5% 10%;
}

.main__section-hi, .main__how-r-u {
    width: 50%;
}

.footer {
    position: fixed;
    bottom: 0;
}

.header__logo, .footer__bla {
    margin: auto;
    width: 60px;
}

